<h2 class="mb-4">Leave Request List</h2>

<label>
  Enter Employee ID:
  <input type="number" [(ngModel)]="searchEmployeeId" placeholder="Employee ID" />
</label>
<button class="btn btn-primary" (click)="filterByEmployeeId()">Search</button>


<!-- <button (click)="addLeaveRequest()">Create New Swap Request</button> -->
<button class="btn btn-primary" (click)="viewRequests()">View Pending Requests</button>
<button class="btn btn-primary" (click)="manageApprovals()">Manage Approvals</button>
<button class="btn btn-primary" (click)="viewAllRequests()">View All Requests</button> <!-- Ensure this button calls the correct function -->

<div *ngIf="leaveRequests.length > 0" class="table-responsive"> 
<table class="table table-hover leave-balance-table">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Leave Type</th>
      <th>Leave reason</th>
      <th>Start Date</th>
      <th>End date</th>
      <th>Requested date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of leaveRequests">
      <td>{{ request.employeeId }}</td>
      <td>{{ request.name }}</td>
      <td>{{ request.leaveType }}</td>
      <td>{{ request.reason }}</td>
      <td>{{ request.startDate }}</td>
      <td>{{ request.endDate }}</td>
      <td>{{ request.requestDate }}</td>
      <td>{{ request.status }}</td>
      <td>
        <div class="d-flex gap-2">
          <button class="btn btn-sm btn-success" (click)="viewRequestDetails(request.leaveRequestId)">View</button>
          <button class="btn btn-sm btn-primary" (click)="edit(request.leaveRequestId)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="delete(request.leaveRequestId)">Delete</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="leaveRequests.length === 0">
        <td colspan="7">No leave requests found.</td>
    </tr>
  </tbody>
</table>
</div>
