<h2 class="mb-4">Leave Request List</h2>

<!-- <button (click)="addLeaveRequest()">Create New Swap Request</button> -->
<button  class="btn btn-primary" (click)="viewRequests()">View Pending Requests</button>
<button *ngIf="employeeId===0" class="btn btn-primary" (click)="manageApprovals()">Manage Approvals</button>
<button class="btn btn-primary" (click)="viewAllRequests()">View All Requests</button> <!-- Ensure this button calls the correct function -->
<div class="col-md-4">
  <div class="m-3 input-group input-group-sm">

    <input class="form-control form-control-sm"
           placeholder="Enter Employee ID"
           type="number"
           [(ngModel)]="searchEmployeeId"
           aria-label="Employee ID"
    />

    <button type="submit" class="btn btn-primary btn-sm" (click)="filterByEmployeeId()">
      Search
    </button>
  </div>
</div>





<div *ngIf="leaveRequests.length > 0" class="table-responsive"> 
<table class="table table-hover leave-balance-table">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Leave Type</th>
      <th>Leave reason</th>
      <th>Start Date</th>
      <th>End date</th>
      <th>Requested date</th>
      <th>Status</th>
      <th *ngIf="employeeId!=0">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of leaveRequests">
      <td>{{ request.employeeId }}</td>
      <td>{{ request.name }}</td>
      <td>{{ request.leaveType }}</td>
      <td>{{ request.reason }}</td>
      <td>{{ request.startDate | date:'dd MMM yyyy' }}</td>
      <td>{{ request.endDate | date:'dd MMM yyyy' }}</td>
      <td>{{ request.requestDate | date:'dd MMM yyyy' }}</td>
      <td>{{ request.status }}</td>
      
      <td *ngIf="employeeId!=0">
        <div *ngIf="employeeId==request.employeeId " class="d-flex gap-2">
          <button class="btn btn-sm btn-success" (click)="viewRequestDetails(request.leaveRequestId)">View</button>
          <button class="btn btn-sm btn-primary" (click)="edit(request.leaveRequestId)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="delete(request.leaveRequestId)">Delete</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="leaveRequests.length === 0">
        <td colspan="7">No leave requests found.</td>
    </tr>
  </tbody>
</table>
</div>
