


<h2>{{ isEditMode ? 'Edit Shift' : 'Add New Shift' }}</h2>

<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label" for="shiftName">Shift Name:</label>
    <input class="form-control" type="text" id="shiftName" [(ngModel)]="shift.shiftName" name="shiftName" required>
  </div>
  <div class="mb-3">
    <label class="form-label" for="shiftDate">Shift Date:</label>
    <input class="form-control" type="date" id="shiftDate" [(ngModel)]="shift.shiftDate" name="shiftDate" required>
  </div>
  <div class="mb-3">
    <label class="form-label" for="employeeId">Employee ID:</label>
    <input class="form-control" type="number" id="employeeId" [(ngModel)]="shift.employeeId" name="employeeId" required>
  </div>
  <div class="mb-3">
    <label class="form-label" for="shiftStartTime">Start Time:</label>
    <input class="form-control" type="time" id="shiftStartTime" [(ngModel)]="shift.shiftStartTime" name="shiftStartTime" placeholder="HH:MM" required>
  </div>
  <div class="mb-3">
    <label class="form-label" for="shiftEndTime">End Time:</label>
    <input class="form-control" type="time" id="shiftEndTime" [(ngModel)]="shift.shiftEndTime" name="shiftEndTime" placeholder="HH:MM" required>
  </div>
  <button class="btn btn-primary me-2" type="submit">{{ isEditMode ? 'Update Shift' : 'Create Shift' }}</button>
  <button class="btn btn-secondary" type="button" (click)="router.navigate(['/shifts'])">Cancel</button>
</form>
