<div *ngIf="message" class="mt-4 alert" [ngClass]="{'alert-success': isSuccess, 'alert-danger': !isSuccess}">
  {{ message }}
</div>

<form (ngSubmit)="onSubmit()" #leaveForm="ngForm">
  <!-- Leave Type -->
  <div class="mb-3">
    <label for="leaveType" class="form-label">Leave Type:</label>
    <select
      class="form-control"
      id="leaveType"
      [(ngModel)]="leaveRequest.leaveType"
      name="leaveType"
      [disabled]="!leaveRequest.employeeId" 
      required
    >
      <option value="" disabled selected>Select Leave Type</option>
      <option value="Sick">Sick Leave</option>
      <option value="Annual">Annual Leave</option>
      <option value="Casual">Casual Leave</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid Leave Type.
    </div>
  </div>

  <!-- Reason -->
  <div class="mb-3">
    <label for="reason" class="form-label">Your Reason for the Leave:</label>
    <input
      type="text"
      class="form-control"
      id="reason"
      [(ngModel)]="leaveRequest.reason"
      name="reason"
      required
      minlength="4"
      #reason="ngModel"
    />
    <div *ngIf="reason.invalid && reason.touched" class="text-danger">
      Reason must be at least 4 characters long.
    </div>
  </div>

  <!-- Start Date -->
  <div class="mb-3">
    <label for="startDate" class="form-label">Start Date:</label>
    <input
      type="date"
      class="form-control"
      id="startDate"
      [(ngModel)]="leaveRequest.startDate"
      name="startDate"
      required 
      #startDate="ngModel"
    />
    <div *ngIf="timeValidationError" class="text-danger">
      Start date must be at least 24 hours from now.
    </div>
  </div>

  <!-- End Date -->
  <div class="mb-3">
    <label for="endDate" class="form-label">End Date:</label>
    <input
      type="date"
      class="form-control"
      id="endDate"
      [(ngModel)]="leaveRequest.endDate"
      name="endDate"
      required
      #endDate="ngModel"
    />
  </div>

  <!-- Status (Only in Edit Mode) -->

  <!-- Submit Button -->
  <button
    type="submit"
    class="btn btn-primary me-2"
    [disabled]="leaveForm.invalid"
    
  >
    {{ isEditMode ? 'Update Request' : 'Create Request' }}
  </button>
  <button
    type="button" 
    class="btn btn-secondary"
    (click)="router.navigate(['/leaveRequests'])"
  >
    Cancel
  </button>

  <!-- Custom validation message -->
  <div *ngIf="dateValidationError" class="text-danger mt-2">
    Start date must be before end date.
  </div>
</form>
