<div class="app-container" id="appContainer">
  <header class="app-header" id="appHeader">
    <div class="app-title">Leave and Attendance Management System</div>
  </header>

  <div class="page-content-wrapper">
    <aside class="sidebar" id="sidebar">
      <div class="sidebar-top-section">
        <button
          class="menu-toggle"
          type="button"
          aria-controls="sidebar"
          aria-expanded="false"
        >
          <a routerLink="/dashboard"> <i class="fas fa-bars"></i> </a>
        </button>
        <span class="lm-text">LAMS</span>
      </div>
      <ul class="sidebar-menu">
        <li *ngIf="employeeId===0" class="nav-item">
          <a
            class="nav-link active-link"
            routerLink="/attendance/list"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
          > 
            <i class="bi bi-calendar-check"></i> <span>Attendance List</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active-link"
            routerLink="/attendance/search-attendance"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
          >
            <i class="bi bi-search me-2"></i> <span>Search Attendance</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active-link"
            routerLink="/attendance/clock-in-out"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
          >
            <i class="bi bi-clock-fill me-2"></i> <span>Clock-in-out</span>
          </a>
        </li>
        <li *ngIf="employeeId===0" class="nav-item">
          <a
            class="nav-link"
            routerLink="/attendance/delete-attendance"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
          >
            <i class="bi bi-trash-fill me-2"></i> <span>Delete Attendance</span>
          </a>
        </li>
      </ul>
    </aside>

    <main class="main-content">
      <div class="content-card">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
